* { -webkit-tap-highlight-color: rgba(0,0,0,0); box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; list-style: none; outline: none; padding: 0; margin: 0; }

html, body { -webkit-touch-callout: none; -webkit-text-size-adjust: none; font-family: 'Open Sans', sans-serif; font-weight: 400; color: #212121; font-size: 18px; background-color:#fff; margin: 0px; overflow-x: hidden; }

:root { 
    --white: white;
    --dark-color: #1E242B;
    --light-copy-color: #6B727D;
    --primary-color: #C02032;
    --grey-bg: #FAFBFE;
    --cloud-grey-color: #E8ECF1;
}

button, input, optgroup, select, textarea { font-family: inherit; }

a { text-decoration: none; color: inherit; cursor: pointer; }

$primary-color: #C02032;
$cloud-grey-color: #E8ECF1;
$grey-bg: #FAFBFE;