.hero { position: relative; width: 100%; height: 360px; margin-top: 60px;
    @include respond-to(tablet) { height: 440px; }  
    &_img { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; 
        &-gradient {
            &::before { content: ""; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; background-image: linear-gradient(179deg, rgba(33,33,33,0.00) 40%, #212121 100%); }
        }
        img { width: 100%; height: auto; height: 100%; object-fit: cover; }
    }
    &_page-summary { display: flex; flex-direction: column; justify-content: flex-end; position: relative; width: 100%; height: 100%; max-width: 1144px; padding: 0 20px 24px; margin: 0 auto; color: #fff;
        @include respond-to(tablet) { padding: 0 32px 44px; }
        @include respond-to(desktop-1280) { padding: 0 0 44px; }  
        .description { font-size: 16px; line-height: 28px; max-width: 680px; padding: 16px 0 0 2px; }
    }
    &_focus-area_caption { display: flex; justify-content: flex-end; position: relative; width: 100%; max-width: 1144px; margin: 0 auto; font-size: 14px; padding: 12px 32px 0 0; display: none;
        @include respond-to(desktop-1024) { display: flex; }
        @include respond-to(desktop-1280) { padding: 12px 18px 0 0; }
        .caption-text { position: relative; width: 36%; text-align: right;
            &.blue:after { content: ''; position: absolute; background: url(../app/creative/caption-caret-blue.png); background-size: contain; background-repeat: no-repeat; width: 10px; height: 8px; margin: 6px 0 0 8px; }
            &.red:after { content: ''; position: absolute; background: url(../app/creative/caption-caret-red.png); background-size: contain; background-repeat: no-repeat; width: 10px; height: 8px; margin: 6px 0 0 8px; }
            @include respond-to(desktop-1280) { width: 44%; }
        }
    }
    &-with-banner { display:flex;
        .hero_img { background: #fff;
            &-asset { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: $cloud-grey-color; 
                &::before { content: ""; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; background-image: linear-gradient(179deg, rgba(33,33,33,0.00) 40%, #212121 100%); }
                @include respond-to(tablet) { width: 60%; }
                @include respond-to(desktop-1024) { width: 66.5%; }
                @include respond-to(desktop-1280) { width: 74%; }
            }
        }
        .hero_page-summary { 
            .description { font-size: 16px; line-height: 26px;
                @include respond-to(tablet) { max-width: 400px; line-height: 28px; }
                @include respond-to(desktop-1024) { max-width: 552px; line-height: 28px; } 
            }
        }
        .hero_banner { display: flex; flex-direction: column; justify-content: space-between; position: absolute; top: 0px; right: 0px; width: 39%; height: 100%; background: #00518A; padding: 40px 32px; color: #fff; display: none;
            @include respond-to(tablet) { display: flex; }
            @include respond-to(desktop-1024) { width: 32.5%; }
            @include respond-to(desktop-1280) { width: 25%; }
            @include respond-to(desktop-1536) { padding: 40px 48px 40px 32px; }
            h2 { font-weight: 400; }
            .description { font-size: 14px; line-height: 22px; padding-top: 36px; max-width: 404px; }
            a { padding: 0 16px; width: max-content; height: 38px; display: inline-flex; justify-content: center; align-items: center; border: 1px solid #fff; border-radius: 6px; font-size: 16px; transition: background 0.2s ease-out; transition: color 0.2s ease-out;
                &:link, &:visited, &:active { color: inherit; }
                &:hover { color: #212121; background: #fff; }
            }
        }
    }
}

.hero-focus-area { margin-top: 0; 
    .hero_img { position: relative; }
}